langchain-chroma
pypdf
langchain
chromadb # Vector storage
pytest
boto3
langchain_community
langchain_text_splitters
langchain_huggingface
supabase
langchain_openai
pandas
flask
flask_cors
python-dotenv